@media (max-width: 700px) {
    aside {
        display: none;
    }

    main {
        width: 100% !important;
        background-color: brown;
    }
}

@media (max-width: 700px) and (max-width:1200px) {
    body > div > div {
        flex-direction: column;
    }

    aside {
        height: 30% !important;
    }

    .main {
        height: 70% !important;
    }
}